GPU_WORKER_CAPABILITIES=alphafold3
ALPHAFOLD3_DOCKER_IMAGE=cford38/alphafold3

# 必须是你已下载完成的数据目录
ALPHAFOLD3_MODEL_DIR=/data/alphafold3/models
ALPHAFOLD3_DATABASE_DIR=/data/alphafold3/databases

ALPHAFOLD3_DOCKER_EXTRA_ARGS=
