BOLTZ_HOST_ROOT=/data/V-Bio
PXM_HOST_WORKSPACE=/data/V-Bio/capabilities/pocketxmol
POCKETXMOL_DOCKER_IMAGE=pocketxmol:cu128

PXM_CONFIG_TASK=configs/sample/examples/dock_smallmol.yml
PXM_CONFIG_MODEL=configs/sample/pxm.yml
PXM_OUTDIR=outputs_examples
PXM_DEVICE=cuda:0
PXM_BATCH_SIZE=0
